* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

header {
  color:#4d4959;
}

h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #353738;
  letter-spacing: 0.1em;
}

p {
  color: #848789;
}

footer,
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 200px;
  padding: 0 10% 0 10%;
  background-color: #f7f7f7;
  font-size: 0.75em;
}

footer div {
  width: 33%;
}

footer .footer-social {
  margin: 5px;
}

footer .handcrafted {
  display: flex;
  align-items: center;
}

.accent {
  color:#64c29e;
}