* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
header {
    color:#4d4959;
}
.accent {
    color:#64c29e;
}
h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #353738;
    letter-spacing: 0.1em;
}
p {  
    color: #848789;
}